img {
 max-width: 30%;
 max-height: 30%;
}
label{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
row{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}
div{
    background-color: black;
    color: white;

}
#submit {
   
    font-size: 20px;
    cursor: pointer;
    background-color: #f7fbfd;
    color: black;
}